 <ion-header>
 	<ion-toolbar>
 		<ion-buttons slot="start">
 				<ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
 		</ion-buttons>
 		<ion-title>
 			<span class="d-flex">
 				{{'notifications' | translate}}
 			</span>
 		</ion-title>
 	</ion-toolbar>
 </ion-header>


 <ion-content class="bg_color" fullscreen>
 	<ion-list lines="none">
 		<ion-item class="active">
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Get 25% cashback on frist electricity Bill Payment</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item class="active">
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Your order for Sqware white shirt has been dispatched</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>You have received $10.00 cash back added in your wallet</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Your Booking for AC bus from NY To KY ic confirmed.</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Checkout the fashion collections you is confirmed</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Verify your phone number before booking a train ticket</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>
 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>You have received $10.00 cash back added in your wallet</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Your Booking for AC bus from NY To KY ic confirmed.</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Checkout the fashion collections you is confirmed</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Verify your phone number before booking a train ticket</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>
 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>You have received $10.00 cash back added in your wallet</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Your Booking for AC bus from NY To KY ic confirmed.</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Checkout the fashion collections you is confirmed</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>

 		<ion-item>
 			<div class="item_inner">
 				<h2 class="d-flex"><span>Verify your phone number before booking a train ticket</span>
 					<ion-icon class="zmdi zmdi-circle end"></ion-icon>
 				</h2>
 				<p>2 days ago</p>
 			</div>
 		</ion-item>
 	</ion-list>
 </ion-content>