<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'add_money' | translate}}</ion-title>
	</ion-toolbar>

	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-input type="text" placeholder="{{'enter_amount' | translate}}"></ion-input>
				<h3 slot="end" (click)="promocode()">{{'have_promocode' | translate}}</h3>
			</ion-item>
			<ion-button size="large" shape="block" class="btn">{{'add_money' | translate}}</ion-button>
			<h2 class="ion-text-center">{{'quick_pay_balance' | translate}} $ 3.85</h2>
		</ion-list>
	</div>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-card>
		<div class="card_bg center_img">
			<img src="assets/imgs/card_bg2.png" class="crop_img">
		</div>
		<h2>{{'deals_of_the_day' | translate}}</h2>
		<ion-list lines="none">
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
			<ion-item>
				<div class="label">
					<h3>Upto 80% Cashback every hour</h3>
					<div class="text d-flex">
						<p>Get upto 80% Cashback on any bill payment every hour.</p>
						<h4 text-center class="end">{{'know_more' | translate}}</h4>
					</div>
					<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
				</div>
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>