<ion-header class="bg-transparent">
	<ion-toolbar>
		<ion-title>
			<div class="d-flex">
				<span class="page_title">{{'sign_in' | translate}}</span>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<div class="banner center_img">
		<img src="assets/imgs/banner1.png" class="crop_img">
		<div class="logo">
			<img src="assets/imgs/logo.png">
		</div>
	</div>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<div class="icon_box" slot="start">
					<img src="assets/imgs/ic_phone.png">
				</div>
				<ion-input [(ngModel)]="line" placeholder="+123456789" type="tel"></ion-input>
			</ion-item>
		</ion-list><br/>
		<div class='ion-center' style="position:relative;z-index:10;width:100%;margin-left:2em;margin-right:auto;">
			<div id="recaptcha-container"></div>
		</div>
		<ion-button size="large" shape="block" class="btn"  (click)="sendLoginCode()">{{'sign_in' | translate}}</ion-button>
	</div>
</ion-content>