<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
				<ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<span class="d-flex">
				{{'favorited' | translate}}
				<ion-icon class="zmdi zmdi-search end"></ion-icon>
			</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-row>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f2.png">
				</div>
				<h2>Spyworn Blue cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f3.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f2.png">
				</div>
				<h2>Spyworn Blue cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f3.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f2.png">
				</div>
				<h2>Spyworn Blue cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f3.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f2.png">
				</div>
				<h2>Spyworn Blue cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f3.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f1.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>
		<ion-col size="6" (click)="item_info()">
			<div class="item-box">
				<div class="img_box">
					<img src="assets/imgs/f4.png">
				</div>
				<h2>Spyworn white cotton shirt Xl</h2>
				<p>$9.99</p>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</div>
		</ion-col>

	</ion-row>
</ion-content>