 

.form {
	margin: 0 auto;
	width: calc(100% - 42px);


	h2 {
		font-size: 1.1rem;
		font-weight: 600;
		padding-bottom: 14px;
		margin: 0;
	}

	p {
		margin: 0;
		font-size: 1rem;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0.5px;
		padding-bottom: 10px;
		padding-bottom: 29px;
	}

	h3 {
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
		margin-top: 20px;
		background: var(--theme-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	ion-list {
		margin-top: 5px;
		box-shadow: none !important;

		ion-item {
			padding: 0 0 10px 0 !important;
			border-top: 0 !important;
			border-bottom: 1px solid #ccc !important;
			margin-bottom: 30px;

			ion-input {
				font-size: 1.4rem !important;
			}
		}
	}

	.button.btn {
		height: 50px;
		text-transform: capitalize;
		--border-radius: 9px !important;
	}
}
