<ion-header>
	<ion-toolbar>
		<ion-title>
			<ion-icon class="zmdi zmdi-close" (click)="dismiss()"></ion-icon>
		</ion-title>
	</ion-toolbar>

	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-input type="text" placeholder="{{'enter_promocode' | translate}}"></ion-input>
			</ion-item>
			<ion-button size="large" shape="block" class="btn">{{'apply' | translate}}</ion-button>
		</ion-list>
	</div>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<h3>{{'offers' | translate}}</h3>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours. <span>{{'terms_conditions_apply' | translate}}</span></p> 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					winter100
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
				 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours. <span>{{'terms_conditions_apply' | translate}}</span></p> 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					winter100
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
				 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours. <span>{{'terms_conditions_apply' | translate}}</span></p> 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					winter100
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
				 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours. <span>{{'terms_conditions_apply' | translate}}</span></p> 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					winter100
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
				 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours. <span>{{'terms_conditions_apply' | translate}}</span></p> 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					winter100
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
				 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours. <span>{{'terms_conditions_apply' | translate}}</span></p> 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					winter100
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
				 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours. <span>{{'terms_conditions_apply' | translate}}</span></p> 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					winter100
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Freerecharge50
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
				 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					Next5Offer
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			 
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<h2>
					10On10bonanza
				</h2>
				<p>Recharge with $5.00 and get 10% instant cashback in 24 hours.  <span>{{'terms_conditions_apply' | translate}}</span></p>
			</div>
		</ion-item>
		
	 
	</ion-list>
</ion-content>