 <ion-header>
 	<ion-toolbar>
 		<ion-buttons slot="start">
 			<ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
 		</ion-buttons>
 		<!--		<ion-title>{{'search' | translate}}</ion-title>-->
 	</ion-toolbar>
 	<ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_placeholder' | translate}}"></ion-searchbar>
 </ion-header>

 <ion-content class="bg_color" fullscreen>
 	<div class="recente_searches">
 		<h3>{{'recente_searches' | translate}}</h3>
 		<h2>Train Bookng</h2>
 		<h2>Your Broadbad</h2>
 		<h2>Buy Shirt</h2>
 	</div>

 	<div class="quick_links">
 		<h3>{{'quick_links' | translate}}</h3>
 		<div class="scroll_container">
 			<div class="links" (click)="phonerecharge()">
 				<img src="assets/imgs/ic_recharge.png">
 				<h6>{{'recharge' | translate}}</h6>
 			</div>
 			<div class="links">
 				<img src="assets/imgs/ic_electricity.png">
 				<h6>{{'electricity' | translate}}</h6>
 			</div>
 			<div class="links" (click)="book_ticket()">
 				<img src="assets/imgs/ic_train.png">
 				<h6>{{'train_ticket' | translate}}</h6>
 			</div>
 			<div class="links" (click)="book_ticket()">
 				<img src="assets/imgs/ic_flights.png">
 				<h6>{{'flights' | translate}}</h6>
 			</div>
 			<div class="links" (click)="book_ticket()">
 				<img src="assets/imgs/ic_bus.png">
 				<h6>{{'bus' | translate}}</h6>
 			</div>
 			<div class="links">
 				<img src="assets/imgs/ic_dth.png">
 				<h6>{{'dth' | translate}}</h6>
 			</div>
 			<div class="links">
 				<img src="assets/imgs/ic_broadband.png">
 				<h6>{{'boradband' | translate}}</h6>
 			</div>
 			<div class="links">
 				<img src="assets/imgs/ic_more.png">
 				<h6>{{'more' | translate}}</h6>
 			</div>
 		</div>
 	</div>

 	<ion-list lines="none">
 		<ion-card lines="none">
 			<div class="card_bg center_img">
 				<img src="assets/imgs/card_bg2.png" class="crop_img">
 			</div>
 			<h2>{{'save_on_bill_payments' | translate}}</h2>
 			<div class="scroll_container">
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 				<ion-item>
 					<div class="label">
 						<h3>Upto 80% Cashback every hour</h3>
 						<div class="text d-flex">
 							<p>Get upto 80% Cashback on any bill payment every hour.</p>
 							<h4 class="ion-text-center" class="end">{{'know_more' | translate}}</h4>
 						</div>
 						<h6><sup>*</sup>{{'t_c_apply' | translate}}</h6>
 					</div>
 				</ion-item>
 			</div>
 		</ion-card>
 	</ion-list>
 </ion-content>